{% load static %}

<link href="{% static 'css/frontend/añadir.css'%}" rel="stylesheet"/>

<div id="cliente-modal" class="modal popupContentWrapper">
    <div class="popup-content">
        <span onclick="toggleModal('cliente-modal')" class="close">&times;</span>
        <form action="{% url 'crear-empresa' %}" method="post" style="text-align: center;">
            <h5>Añadir nuevo cliente</h5>
            <div>
                {{ form_empresa.nombre }}
                <input type="submit" class="submit" value="Añadir">
            </div>
            {% csrf_token %}
        
        </form>
    </div>
</div>
<div class="inline-block">
    <div class="boton add-email" id="add-email"><a href="#"><p onclick="toggleModal('correo-modal')">Correo</p></a></div>
    <button class="boton" type="button" onclick="toggleModal('cliente-modal')">
        <img class="add-icon" src="../static/images/plus.svg">
        <h5>cliente</h5> 
    </button>   
</div>