{% load static %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{% endblock %}

<!-- Example plots -->

<div class="box empresaBox">
    <div class="pc-box">
        <h1 class="green uppercase">DASHBOARD{% if empresa_actual != None %} | {{ empresa_actual.nombre }} {% endif %}</h1>
        {% if empresa_actual != None and plantilla_actual != None and plantillas|length > 0 %}
            <div class="actionsWrapper">
                <ul>
                    <li>
                        <a href="#" class="subtitle">
                            <h6>{{plantilla_actual.servicio}}</h6>
                            <img class="accionesDrop" src="{% static 'images/frontend/correos/drop-down.svg' %}">
                        </a>
                        <ul>
                            {% for p in plantillas %}
                                <li class="green-back {% if forloop.first %}first-list{% endif %} {% if forloop.last %}last-list{% endif %}">
                                    <a href="{% url 'dashboard-e-p' empresa=empresa_actual.id plantilla=p.id%}" class="actionsButton" type="button">
                                        <img class="icon-edit" src="{% static 'images/frontend/icons/doc.svg' %}">
                                        <h6>{{p.servicio}}</h6>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>    
</div>
<main>
    {% if empresa_actual != None and plantilla_actual != None %}
        <div class="content">
            <div class="chart">
                <h3 class="green">Phishing Success Overview:</h3>
                <div class="lineChartContainer">
                    <canvas id="line-chart"></canvas>
                </div>
            </div>
            <div class="chartSeries">
                <div class="chart">
                    <h3 class="green">Email Sent:</h3>
                    <div class="doughnutChartContainer">
                        <canvas class="doughnutChart"></canvas>
                    </div>
                </div>
                <div class="chart">
                    <h3 class="green">Email Opened:</h3>
                    <div class="doughnutChartContainer">
                        <canvas class="doughnutChart"></canvas>
                    </div>
                </div>
                <div class="chart">
                    <h3 class="green">Clicked Link:</h3>
                    <div class="doughnutChartContainer">
                        <canvas class="doughnutChart"></canvas>
                    </div>
                </div>
                <div class="chart">
                    <h3 class="green">Submitted Data:</h3>
                    <div class="doughnutChartContainer">
                        <canvas class="doughnutChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</main>


<script>

    //Onload
    window.onload = function() {
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: ["Dec 2016","Jan 2017","Feb 2017","Mar 2017","Apr 2017","May 2017","Jun 2017"],
                datasets: [{ 
                    data: [50,50,25,0,50,20,0,20,0,45,0,20,0,0,0, 100],
                    label: "% success",
                    borderColor: "#3e95cd",
                    fill: true
                }]
            },
            options: {
                title: {
                display: false,
                text: ''
                }
            }
            });

        let doughnutCharts = document.querySelectorAll(".doughnutChart")

        console.log("doughnutCharts: ", doughnutCharts)
        let doughnutChartsTitles = [
            "Email Sent",
            "Email Opened",
            "Clicked Link",
            "Submitted Data"
        ]
        let doughnutChartsData = [
            [1120, 480],    //Positive cases for emails sent: 1120, negative cases: 480
            [68, 1052],     //Positive cases for emails opened: 68, negative cases: 1052
            [4, 64],        //Positive cases for clicked links: 4, negative cases: 64
            [1, 3]          //Positive cases for submitted data: 1, negative cases: 4
        ]
        for (let i = 0; i < doughnutCharts.length; i++) {
            console.log("chart!: ", doughnutCharts[i])
            new Chart(doughnutCharts[i], {
                type: 'doughnut',
                data: {
                labels: [doughnutChartsTitles[i] + " (Success)", doughnutChartsTitles[i] + " (Failed)"],
                datasets: [
                    {
                    label: doughnutChartsTitles[i],
                    backgroundColor: ["#3e95cd", "#DDDDDD"],
                    data: doughnutChartsData[i]
                    }
                ]
                },
                options: {
                title: {
                    display: false,
                    text: ''
                }
                }
            });
        }

        document.querySelectorAll(".chartjs-hidden-iframe").forEach(function(element) {
            element.style.display = "none"
        })
    }
</script>