{% load static %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link href="{% static 'css/frontend/dashboard.css'%}" rel="stylesheet" />

{% endblock %}

<!-- Example plots -->

<div class="titleContainer">
    <h1 class="green uppercase">
        DASHBOARD
    </h1>
</div>
<main>
    <div class="content">
        <div class="chart">
            <h3 class="green">Phishing Success Overview:</h3>
            <div class="lineChartContainer">
                <canvas id="line-chart"></canvas>
            </div>
        </div>
        <div class="chartSeries">
            <div class="chart">
                <h3 class="green">Email Sent:</h3>
                <div class="doughnutChartContainer">
                    <canvas class="doughnutChart"></canvas>
                </div>
            </div>
            <div class="chart">
                <h3 class="green">Email Opened:</h3>
                <div class="doughnutChartContainer">
                    <canvas class="doughnutChart"></canvas>
                </div>
            </div>
            <div class="chart">
                <h3 class="green">Clicked Link:</h3>
                <div class="doughnutChartContainer">
                    <canvas class="doughnutChart"></canvas>
                </div>
            </div>
            <div class="chart">
                <h3 class="green">Submitted Data:</h3>
                <div class="doughnutChartContainer">
                    <canvas class="doughnutChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</main>


<script>

    //Onload
    window.onload = function() {
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: ["Dec 2016","Jan 2017","Feb 2017","Mar 2017","Apr 2017","May 2017","Jun 2017"],
                datasets: [{ 
                    data: [50,50,25,0,50,20,0,20,0,45,0,20,0,0,0, 100],
                    label: "% success",
                    borderColor: "#3e95cd",
                    fill: true
                }]
            },
            options: {
                title: {
                display: false,
                text: ''
                }
            }
            });

        let doughnutCharts = document.querySelectorAll(".doughnutChart")

        console.log("doughnutCharts: ", doughnutCharts)
        let doughnutChartsTitles = [
            "Email Sent",
            "Email Opened",
            "Clicked Link",
            "Submitted Data"
        ]
        let doughnutChartsData = [
            [1120, 480],    //Positive cases for emails sent: 1120, negative cases: 480
            [68, 1052],     //Positive cases for emails opened: 68, negative cases: 1052
            [4, 64],        //Positive cases for clicked links: 4, negative cases: 64
            [1, 3]          //Positive cases for submitted data: 1, negative cases: 4
        ]
        for (let i = 0; i < doughnutCharts.length; i++) {
            console.log("chart!: ", doughnutCharts[i])
            new Chart(doughnutCharts[i], {
                type: 'doughnut',
                data: {
                labels: [doughnutChartsTitles[i] + " (Success)", doughnutChartsTitles[i] + " (Failed)"],
                datasets: [
                    {
                    label: doughnutChartsTitles[i],
                    backgroundColor: ["#3e95cd", "#DDDDDD"],
                    data: doughnutChartsData[i]
                    }
                ]
                },
                options: {
                title: {
                    display: false,
                    text: ''
                }
                }
            });
        }

        document.querySelectorAll(".chartjs-hidden-iframe").forEach(function(element) {
            element.style.display = "none"
        })
    }
</script>