<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phishing</title>
    {% load static %}

    <link href="{% static 'css/frontend/index.css'%}" rel="stylesheet" />
    <link href="{% static 'css/frontend/navbar.css'%}" rel="stylesheet" />
    <link href="{% static 'css/frontend/sidebar.css'%}" rel="stylesheet" />
    <link href="{% static 'css/frontend/correos.css'%}" rel="stylesheet" />
    <link href="{% static 'css/frontend/popup.css' %}" rel="stylesheet" />
    <link href="{% static 'css/frontend/headerEmpresa.css'%}" rel="stylesheet" />

</head>
<body>

   

    {% load static %}

    {% include 'frontend/controlErrores.html' %}
    
    <!--top menu-->
    {% block navbar %}
    {% include 'frontend/navbar.html' with opcion=opcion %}
    {% endblock %}

   

    <section style="display:flex; min-height: calc(100vh - 60px);">


        {% if opcion == None %}



        {% else %}



            {% if opcion == 'CLIENTES' %}
            <!--info empresa-->
                {% block sidebar-clientes %}
                {% include 'frontend/sidebarClientes.html' %}
                {% endblock %} 

            {% elif opcion == 'SERVICIOS' %}

                {% block sidebar-servicios %}
                {% include 'frontend/sidebarServicios.html' %}
                {% endblock %} 

            {% elif opcion == 'OPCIONES' %}
                {% block sidebar-opciones %}
                {% include 'frontend/sidebarOpciones.html' %}
                {% endblock %} 

            {% endif %}


        {% endif %}
        <section class="info">

            {% if opcion == None %}
            <!--header-->
            {% else %}

                {% if opcion == 'CLIENTES' %}
                    <!--info empresa-->

                    {% if op == 'AÑADA CLIENTES' %}

                        {% block añadaCliente %}
                        {% include 'frontend/añadaCliente.html' %}
                        {% endblock %}

                        

                    {% elif op == 'SI' %}
                        {% block headerEmpresa %}
                        {% include 'frontend/headerEmpresa.html' %}
                        {% endblock %} 
                        
                        <!--correos empresa-->
                        {% for i in correos %}
                            {% block vista_clientes %}
                            {% include 'frontend/correos.html' %}
                            {% endblock %}
                        {% endfor %}

                    {% endif %}
                {% elif opcion == 'SERVICIOS' %}

                    {% if op == 'PLANTILLAS' %}

                        {% for i in plantillas %}
                            {% block plantillas %}
                            {% include 'frontend/plantillas.html' %}
                            {% endblock %}
                        {% endfor %}

                    {% elif op == 'MALWARE' %}

                        <h1>MALWARE</h1>

                    {% endif %}

                {% elif opcion == 'OPCIONES' %}
                    {% if op == 'USUARIO' %}

                        <h1>USUARIO</h1>

                    {% elif op == 'DASHBOARD' %}
                        {% block dashboard %}
                        {% include 'frontend/dashboard.html' %}
                        {% endblock %}
                    {% endif %}

                {% endif %}

            {% endif %}
        </section>

        {% if opcion == 'SERVICIOS' %}

            {% if op == 'PLANTILLAS' %}

                {% block contentPlantilla %}
                {% include 'frontend/añadirPlantilla.html' %}
                {% endblock %}

            {% endif %}

        {% elif opcion == 'CLIENTES' %}
            {% block content %}
            {% include 'frontend/añadir.html' %}
            {% endblock %}

        {% endif %}
    </section>

    <script src="{% static 'js/frontend/correos.js' %}" type="text/javascript" ></script>
    <script src="{% static 'js/frontend/popup.js' %}" type="text/javascript" ></script>
</body>
</html>