{% load static %}
<div class="box">
    <div class="box-header">
        <div class="box-header-info">
            <div><img class="mail-icon" src="../static/images/frontend/icons/mail.svg"></div>
            <div><h6 class="green email-text">{{ i.servicio }}</h6></div>
            <!--dropdown icons-->
            <div id="drop-icon-{{ forloop.counter }}" class="drop-icon" onclick="dropIconPress('{{ forloop.counter }}')">
                <div>
                    <span class="subtitle"><h6>Información</h6></span>
                    <img id="drop-down-{{ forloop.counter }}" class="drop-down icon" src="../static/images/frontend/correos/drop-down.svg">
                    <img id="drop-up-{{ forloop.counter }}" class="drop-up icon" src="../static/images/frontend/correos/drop-up.svg">
                </div>
            </div>
        </div>
        <div>
            <!--button send-->
            <button onclick="toggleModal('editar-plantilla{{ i.id }}') "class="button blue-btn"><h6>Editar plantilla</h6></button> 
            <!--button delete-->
            <button onclick="toggleModal('delete{{ i.id }}') "class="button red-btn"><h6>Eliminar</h6></button>
        </div>
    </div>
    <div class="box-body box-body-left">
        

        <div class="pc-box">
            <div>
                
                <!--popup button delete-->
                <div id="delete{{ i.id }}" class="modal popupContentWrapper">
                    <div class="popup-content">
                        <span onclick="toggleModal('delete{{ i.id }}')" class="close">&times;</span>
                        <form action="{% url 'eliminar-plantilla' id=i.id %}" method="post" style="text-align: center;">
                            <h5>Introduce "delete" para confirmar la eliminación de la plantilla <span class="green">{{ i.servicio }}</span>:</h5>
                            <div>
                                {% csrf_token %}
                                {{ form_delete.delete }}
                                <input type="submit" class="submit" value="Eliminar">
                            </div>
                        </form>

                    </div>
                </div>   
                
                <!--popup button send-->
                <div id="editar-plantilla{{ i.id }}" class="modal popupContentWrapper">
                    <div class="popup-content">
                        <span onclick="toggleModal('editar-plantilla{{ i.id }}')" class="close">&times;</span>
                        <form action="{% url 'editar-plantilla' id=i.id %}" method="post" style="text-align: center;">
                            <h5 class="popupTitle">Editar plantilla <span class="green">{{ i.servicio }}</span>:</h5>
                            {% csrf_token %}
                                <div class="input-contenedor">
                                    <div>
                                        <i class="fas fa-envelope icon" id="servicio"></i>
                                        <h6>Servicio : </h6>
                                    </div>
                                    {{% render_field form_plantilla.servicio class="form-control" %}}
                                    {{form_plantilla.servicio}}
                                </div>
                                <div class="input-contenedor" >
                                    <div>
                                        <i class="fas fa-envelope icon" id="email"></i>
                                        <h6>Email : </h6>
                                    </div>
                                    {{form_plantilla.email}}
                                </div>
                                <div class="input-contenedor" >
                                    <div>
                                        <i class="fas fa-key icon" id="password"></i>
                                        <h6>Password : </h6>
                                    </div>
                                    {{form_plantilla.password}}
                                </div>
                                <div class="input-contenedor" >
                                    <div>
                                        <i class="fas fa-envelope icon" id="asunto"></i>
                                        <h6>Asunto : </h6>
                                    </div>
                                    {{form_plantilla.asunto}}
                                </div>
                                <div class="input-contenedor" >
                                    <div>
                                        <i class="fas fa-envelope icon" id="mensaje"></i>
                                        <h6>Mensaje : </h6>
                                    </div>
                                    {{form_plantilla.mensaje}}
                                </div>
                                <input type="submit" class="submit" value="Añadir">
                            </div>
                        </form>
                    </div>
                </div>
                
                
            </div>




            <div id="pc-options-box-{{ forloop.counter }}" class="pc-options-box">

                {% block tabla %}
                {% include 'frontend/tablaPlantillas.html' %}
                {% endblock %}
    
            </div>
        </div>

    </div>
</div>
