{% load static %}   
<section class="sidebar-wrapper">
    <!--header-->
    <div class="logo">
        <h5>DASHBOARD</h5>  
    </div>   
    <!--empresa-->
    <ul class="nav">
        {% for e in empresas %}
            <li class="{% if empresa_actual.id == e.id %} active {% endif %}">
                <a href="{% url 'dashboard-e' empresa=e.id %}">
                    <div><img class="building-icon" src="{% static 'images/frontend/icons/building.svg' %}"></div>
                    <div class="cut-text"><h6 class="uppercase">{{ e.nombre }}</h6></div>
                </a>
            </li>             
        {% endfor %}
    </ul>
</section>