<section class="sidebar-wrapper">
    <!--header-->
    <div class="logo">
        <h5>OPCIONES</h5>  
    </div>
    
    <!--empresa-->
    <ul class="nav">

        <li class="{% if opcion == 'USUARIO' %} green {% endif %}">
            <a href="{% url 'opciones-menu' op='USUARIO' %}">
                <div><img class="building-icon" src="../static/images/frontend/icons/building.svg"></div>
                <div class="cut-text"><h6 class="uppercase">USUARIO</h6></div>
            </a>
        </li>             
        <li class="{% if opcion == 'DASHBOARD' %} green {% endif %}">
            <a href="{% url 'opciones-menu' op='DASHBOARD' %}">
                <div><img class="building-icon" src="../static/images/frontend/icons/building.svg"></div>
                <div class="cut-text"><h6 class="uppercase">DASHBOARD</h6></div>
            </a>
        </li>       

    </ul>
</section>