{% load static %}
<table id="credenciales">

    <tr>
        <th><h6>Fecha envio</h6></th>
        <th><h6>Servicio</h6></th>      
        <th><h6>Usuario</h6></th>
        <th><h6>Contraseña</h6></th>
        <th><h6>Ip</h6></th>
        <th><h6>Estado mail</h6></th>
        <th><h6>Num. visitas</h6></th>
        <th><h6>Fecha ultima visita</h6></th>
        <th><h6>Estado web</h6></th>
        <th><h6>Fecha ultima visita</h6></th>
    </tr>
    {% for x in intentos %}
        {% if x.correo.id == i.id %}
            <tr>
                <td>{{ x.fecha_envio }}</td>
                <td>{{ x.servicio }}</td>
                <td>{{ x.usuario }}</td>
                <td>{{ x.contraseña }}</td>
                <td>{{ x.ip }}</td>

                <td>    
                    {% if x.mail_status_id.status == True  %} 
                        <img src="{% static 'images/frontend/correos/accept.png' %}" width="20px">
                    {% else %}
                        <img src="{% static 'images/frontend/correos/close.png' %}" width="20px">
                    {% endif %}
                </td>
                <td>x {{ x.mail_status_id.num_open }}</td>
                <td>{{ x.mail_status_id.fecha }}</td>
                <td>
                    {% if x.web_status_id.status == True  %} 
                        <img src="{% static 'images/frontend/correos/accept.png' %}" width="20px">
                    {% else %}
                        <img src="{% static 'images/frontend/correos/close.png' %}" width="20px">
                    {% endif %}
                </td>
                <td>{{ x.web_status_id.fecha }}</td>
            </tr>
        {% endif %}
    
    {% endfor %}



</table>