*{
    font-family: Poppins,sans-serif;
    
}

body {
    background-color: #1E1E2F;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    display: inline;
}

h2 {
    color: #fff;
    font-weight: 100;
    line-height: 1.45em;
    font-size: 1.0625rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-transform: uppercase;
}

/*
h5 {
    font-family: Poppins,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #1d8cf8;
    color: hsla(0,0%,100%,.8);
    margin: 0px;
}*/

h5 {
    color: #fff;
    line-height: 1.2;
    font-size: 16px;
    margin: 0;
    font-family: Poppins,sans-serif;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 400;
    display: inline;
}

h6 {
    color: #fff;
    line-height: 1.2;
    font-size: 14px;
    margin: 0;
    font-family: Poppins,sans-serif;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 300;
    display:inline;
}

.green{
    color: #3DA574 !important;
}

.uppercase {
    text-transform: uppercase;
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    height: 1.2em; 
    white-space: nowrap;
    color: #fff;
  }

.alert {
    padding: 20px;
    margin:10px;
    right:10px;
    background-color: #f44336c5;
    color: white;
    position: absolute;

    animation-name: alert_anim;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.alert.success {background-color: #04aa6dc4;}
.alert.neutral {background-color: #2195f3b9;}

@keyframes alert_anim {
    0%{
        display:block;
        opacity: 1;
    }
      70%{
        opacity: 1;
      }
      100%{
        display: none;
        opacity: 0;
      }
  }

.alert-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-closebtn:hover {
    color: black;
}