.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    padding: 15px 15px 5px 15px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
}

.brand-icon {
    margin-right: 10px;
    width: 20px;
    filter: invert(51%) sepia(93%) saturate(278%) hue-rotate(99deg) brightness(91%) contrast(87%); /*green*/
}

.logout-button {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
}

.logout-button:hover {
    background-color: #27293d;
}

.logout-icon {
    margin-left: 5px;
    width: 18px;
    filter: invert(51%) sepia(93%) saturate(278%) hue-rotate(99deg) brightness(91%) contrast(87%); /*green*/
}

.barramenu li {
    display: inline-block;
    text-align: center;
}

.barramenu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.barramenu li a:hover {
    color: #3DA574;
}

.navbar-active {
    /*color: #3DA574 !important;*/
    border-bottom: 1px solid #3DA574;
}