body {
    background: #fff;
    direction: ltr;
    font-size: 14px;
    line-height: 1.4286;
    margin: 0;
    padding: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body, input, textarea, select, button {
    color: #202124;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

main, main::before, main::after {
    box-sizing: border-box;
}

main::before, main::after {
    box-flex: 1;
    flex-grow: 1;
    content: "";
    display: block;
    height: 24px;
}

main::before {
    min-height: 30px;
}

.contentWrapper {
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 500px;
    position: relative;
    z-index: 2;
    box-sizing: inherit;
}

/* Loader Animation */

.loader {
    display: none;
    height: 4px;
    left: 0;
    overflow: hidden;
    top: 0;
    width: calc(98% + 1px);
    background: #E7E7E7;
    border-radius: 50px;
    margin-left: 4px;
}
.loader.show {
    display: block;
}

.loaderElementContainer {
    position: relative;
    width: 100%;
    height: 4px;
}

.loaderElement {
	height: 5px;
	width: 100%;
	background: #E7E7E7;
    position: absolute;
}

.loaderElement.active:before {
    position: absolute;
	content: '';
	display: block;
	background-color: #4D92ED;
	height: 3px;
	width: 75%;
    left: -100%;
    animation: loaderAnim 0.75s cubic-bezier(0.1, 0.08, 1, 1) infinite;
    animation-play-state: #4D92ED;
}

@keyframes loaderAnim {
    12% {
        left: -75%
    }
    24% {
        left: -50%
    }
    36% {
        left: -25%
    }
    48% {
        left: 0;
    }
    60% {
        left: 25%;
    }
    72% {
        left: 50%;
    }
    84% {
        left: 75%;
    }
    100% {
        left: 100%;
    }
}

/* /Loader Animation */

/* Login (email) */

.contentCenter {
    box-flex: 1;
    flex-grow: 1;
    overflow: hidden;
    padding: 24px 24px 36px;
}

.transitionBlur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: #ffffff94;
    z-index: 10;
    border-radius: 8px;
}

.contentCenter > div.logoContainer {
    display: flex;
    justify-content: center;
    height: 24px;
}

.loginContainer {
    margin: auto -24px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
}

.loginContainer.emailRequired .userEmailWrapper,
.loginContainer.emailRequired .passwordContentWrapper
{
    display:none;
}

.loginTitle {
    text-align: center;
}

.loginTitle h1 {
    padding-bottom: 0;
    padding-top: 16px;
    color: #202124;
    font-size: 24px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
    word-break: break-word;
}

.titleSubtext {
    padding-bottom: 1px;
    padding-top: 7px;
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
}

.passwordContentWrapper,
.loginContentWrapper {
    margin: auto -24px;
    font-size: .1px;
    white-space: nowrap;
}

.passwordContentWrapper > div,
.loginContentWrapper > div {
    border: 0 solid transparent;
    border-width: 0 24px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    padding: 24px 0 0;
    vertical-align: top;
    white-space: normal;
    width: 100%;
}

.loginMainContent > div > form {
    display: block;
    margin-top: 0em;
}

.loginInput {
    margin: 16px 0;
    outline: none;
}
.loginInput:last-child {
    margin-bottom: 0;
}
.loginInput:first-child {
    margin-top: 0;
}

.loginInput > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

:first-child>.inputContainer {
    padding: 8px 0 0;
}

.inputContainer {
    box-sizing: content-box;
    padding: 16px 0 0;
    display: block;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    outline: none;
    padding-bottom: 8px;
    width: 92%;
    height:40px;
    position: relative;
}

.inputContainer > input {
    width: 100%;
    height: 55px;
    border: 1px solid #dadce0;
    direction: ltr;
    text-align: left;
    color: #202124;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    z-index: 2;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    display: block;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: 24px;
    min-width: 0%;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
}
.inputContainer > input.selected {
    border: 2px solid #1a73e8;
}

.inputContainer > input.error {
    border: 1px solid #D93025;
}

.inputContainer > input.selected.error {
    border: 2px solid #D93025;
}

.inputContainer > div{
    position: absolute;
    display: flex;
    top: 26px;
    left: 11px;
    cursor: text;
    background: #fff;
    box-sizing: border-box;
    color: #5f6368;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - (2*8px));
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    white-space: nowrap;
    width: auto;
    z-index: 1;
    padding: 0 5px;
}

.inputContainer > div.active {
    top: 2px;
    left: 10;
    z-index: 10;
    background: #fff;
    font-size: 12px;
}

.inputContainer > div.selected {
    color: #1a73e8;
    top: 1px;
}

.inputContainer > div.active.error {
    color: #D93025;
}

#passwordPlaceholder,
#emailPlaceholder {
    transition: 0.2s;
}

.emailError {
    align-items: flex-start;
    color: #d93025;
    display: none;
    font-size: 12px;
    line-height: normal;
    margin: auto 20px;
    margin-top: 4px;
    padding-top: 4px;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    min-height: 16px;
}

.emailError > span {
    margin-right: 8px;
    margin-top: -2px;
}

.emailError.show {
    display: flex;
}

.forgotPassword {
    padding-bottom: 3px;
    padding-top: 9px;
}

.forgotPassword > button {
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 600;
    font-size:13px !important;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-align: left;
    border: 0;
    margin: auto 16px;
}

.loginExternalUser {
    margin: auto 16px;
    margin-top: 46px;
}

.loginExternalUser  > span{
    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
    margin-top: 32px;
    padding-bottom: 3px;
    padding-top: 9px;
}

.loginExternalUser > span > a {
    text-decoration: none;
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 600;
    font-size:13px !important;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
}

.loginActions {
    align-items: flex-start;
    display: flex;
    box-flex: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: 32px;
    min-height: 48px;
    padding-bottom: 20px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonsContainer > div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonsContainer > div > div:first-child {
    width: 100%;
}

.buttonsContainer > div > div:last-child {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttonNext {
    color: #fff;
    background-color: #1A73E8;
    transition: border 280ms cubic-bezier(0.4,0,0.2,1),box-shadow 280ms cubic-bezier(0.4,0,0.2,1), background-color 100ms cubic-bezier(0.4,0,0.2,1);
    transition-property: border, box-shadow;
    transition-duration: 280ms, 280ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s, 0s;
    box-shadow: none;
    min-width: 64px;
    border: none;
    border-radius: 4px;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -webkit-appearance: none;
    overflow: visible;
    vertical-align: middle;
    cursor: pointer;
    padding: 8px 22px;
    font-size: 14px;
    font-weight: 600;
}

.buttonNext:hover {
    background-color: #1B66CA;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
}

.buttonCreateAccount {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: var(--gm-colortextbutton-ink-color,#1a73e8);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 8px;
}

.buttonCreateAccount:hover {
    background-color: #F6FAFE;
    color: #174EA6;
}

/* /Login (email) */

/* Login (password) */

.loginContainer.passwordRequired .loginContentWrapper,
.loginContainer.passwordRequired .titleSubtext {
    display: none;
}

.userEmailWrapper {
    height: 32px;
    margin-top: 8px;
}

.userEmailWrapper > div {
    padding-left: 5px;
    padding-right: 7px;
    border-radius: 16px;
    padding: 0 15px 0 15px;
    align-items: center;
    background: #fff;
    border: 1px solid #dadce0;
    color: #3c4043;
    cursor: pointer;
    display: -webkit-inline-box;
    display: inline-flex;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    max-width: 100%;
    position: relative;
}

.userEmailWrapper > div:hover {
    background-color: #F7F8F8;
}

.userEmailWrapper > div:active {
    background-color: #D2D4D4;
    border: 1px solid #3B4043;
}

.userImageContainer {
    border-radius: 10px;
    height: 20px;
    margin-right: 8px;
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 1.4286;
}

.userImageContainer > div {
    border-radius: 50%;
    color: #5f6368;
    overflow: hidden;
}

.userImageContainer > div > img {
    color: #3c4043;
    height: 20px;
    width: 20px;
}

.userEmailContainer {
    line-height: 30px;
    box-sizing: inherit;
    direction: ltr;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3c4043;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.emailArrow {
    color: #3c4043;
    flex-shrink: 0;
    height: 18px;
    margin-left: 4px;
    transition: transform .2s cubic-bezier(.4,0,.2,1);
    width: 18px;
}

.emailArrow > svg {
    display: block;
    height: 100%;
    width: 100%;
    color: #3c4043;
}

.passwordContentWrapper .loginInput > div {
    padding-top: 24px;
}

.showPasswordCheckbox {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex: none;
    height: 24px;
    margin-left: 15px;
}


.checkboxContainer {
    position: relative;
    flex: 0 0 18px;
    margin-left: -8px;
    box-sizing: content-box;
    border-color: #5f6368;
    will-change: unset;
    width: 18px;
    height: 18px;
    line-height: 0;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: bottom;
    padding: 11px;
}
.checkboxContainer > input {
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
}

.checkIconContainer {
    border-color: #5f6368;
    background-color: transparent;
    transition: none;
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border: 2px solid #5E6368;
    border-radius: 2px;
    pointer-events: none;
    will-change: background-color,border-color;
}

.checkIconContainer.selected {
    background-color: #1a73e8;
    border-color: #1a73e8;
}

.checkIconContainer > svg {
    transition: opacity 360ms 0ms cubic-bezier(0,0,0.2,1),transform 180ms 0ms cubic-bezier(0,0,0.2,1);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: inherit;
}

.checkIconContainer > svg > path{
    stroke: #fff;
    stroke-width: 3.12px;
    stroke-dasharray: 29.7833385;

}

.checkIconContainer > svg.show {
    opacity: 1;
}

.showPasswordText {
    align-items: flex-start;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    min-width: 0;
}

.showPasswordText > div {
    cursor:pointer;
    text-align: center;
    color: #202124;
    display: inline-block;
    font-size: 14px;
    max-width: 100%;
}

.forgotPasswordContainer{
    white-space: unset;
}

.loginContainer.passwordRequired .buttonsContainer > div > div:last-child {
    width: 50%;
}

.loginContainer.passwordRequired .loginActions {
    margin-top: 45px;
}

/* /Login (password) */


/* Animation */

.fadeOut {
    position: absolute;
    width: 100%;
    left: 40px;
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        left: 40px;
    }
    100% {
        opacity: 0;
        left: 0px;
    }
}

.fadeIn {
    display: block !important;
    position: absolute;
    animation: fadeIn 0.3s ease-in-out;
    right: 0px;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        right: 0px;
    }
    100% {
        opacity: 1;
        right: 40px;
    }
}

/* /Animation */

/* FOOTER */

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    z-index: 5;
    padding: 8px 0 0;
}

.languageWrapper > button {
    color: #5f6368;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    padding-left: 16px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 196px;
    margin-right: 25px;
}

.languageWrapper > button:active {
    background-color: #EEEEEE;
}

.selectedLanguageContainer {
    width: 92%;
    text-align: left;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.arrowLanguage {
    width: 8%;
}

.arrowLanguage > svg {
    width: 12px;
    height: 12px;
    /* filter: invert(12%) sepia(6%) saturate(599%) hue-rotate(187deg) brightness(94%) contrast(95%); */ /* Black */
}

.arrowLanguage > svg.rotate {
    transform: rotate(180deg);
}

.languageSelector {
    display: none;
    position: relative;
}

.languageSelector.open {
    display:block;
}

.languageSelector > ul {
    position: absolute;
    bottom: 0;
    z-index: 11;
    width: calc(100% - 25px); /* 25px from the margin applied to the button */
    overflow: auto;
    border-radius: 4px;
    padding: 0;
    padding-top: 6px;
    margin: 0;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

.languageSelector > ul > li {
    list-style: none;
    padding: 0px 16px;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    background-color: #fff;
    height: 48px;
    text-align: left;
    display:flex;
    align-items: center;
}

.languageSelector > ul > li:hover {
    background-color: #F5F5F5;
}

.languageSelector > ul > li.selected {
    background-color: #D0E2FB;
}

.footerLinks > a {
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    color: #5f6368;
    outline: none;
    padding: 16.0000002px 16px;
    text-decoration: none;
    transition: background .2s;
}

.footerLinks > a:active {
    background-color: #EEEEEE;
}

.footerLinks:first-child {
    margin-right: 8px;
}

.footerLinks:last-child {
    margin-left: 8px;
}

/* /FOOTER */


/* RESPONSIVE */
@media (min-width: 450px) {
    .contentCenter{
        padding: 48px 40px 36px;
    }
    .loginContainer {
        margin: auto -40px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .passwordContentWrapper,
    .loginContentWrapper{
        margin: auto -40px;
    }
    .loginInput > div {
        margin: auto -40px;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 16px;
    }
}
@media (min-width: 601px) {
    .contentWrapper {
        /* transition: .2s; */
        background: #fff;
        border: 1px solid #dadce0;
        border-radius: 8px;
        display: block;
        flex-shrink: 0;
        margin: 0 auto;
        min-height: 0;
        width: 450px;
    }
    .loader {
        position: absolute;
    }
    .contentCenter {
        height: auto;
        min-height: 500px;
        height: auto;
        min-height: 500px;
        overflow-y: auto;
        /* transition: .2s; */
    }
    
}

@media (height > 600px) {
    .languageSelector > ul {
        height: 65vh;
    }
}

@media (height < 600px) {
    .languageSelector > ul {
        height: 70vh;
    }
}
