

{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimun-scale=1.0"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'css/teamviewer/log_in.css' %}">
    <!-- <link rel="stylesheet" href="log_in.css" type="text/css" > -->
  </head>



  <body id='bg' style="background-image: url('{% static 'images/teamviewer/background.jpg'%} ');">
<!-- 
    <img src="{% static 'images/image.jpg' %}" alt=""> -->
    <form class="formulario" action="" method="POST" id="form-login">
      {% csrf_token %}

      <h1>Login</h1>

      <div class="contenedor">

        <div class="input-contenedor">
          <i class="fas fa-envelope icon" id="username"></i>
          <!-- <input type="text" placeholder="Correo Electronico"> -->
          {{form.username}}
        </div>
        <div class="input-contenedor" >
          <i class="fas fa-key icon" id="password"></i>
          <!-- <input type="password" placeholder="Contraseña" id="id_password" name="password"> -->
          {{form.password}}
        </div> 

        
        <input type="submit" value="Login" class="button">

      </div>




    </form>
    

  </body>