* {
    font-family: Poppins,sans-serif;
}

h1 {
    color: #1E1E2F;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    display: inline;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}
h6 {
    color: #3DA574;
    line-height: 1.2;
    font-size: 14px;
    margin: 0;
    font-family: Poppins,sans-serif;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 300;
    display: inline;
}

body {
    font-family: Poppins,sans-serif;
    margin: 0 auto;
    background-color: #1E1E2F;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    background-color: white;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 15px;
    border-radius: 30px;
}

.brand-icon {
    margin-right: 10px;
    width: 20px;
    filter: invert(51%) sepia(93%) saturate(278%) hue-rotate(99deg) brightness(91%) contrast(87%); /*green*/
    margin-bottom: 10px;
}

.loginInputBox {
    border-bottom: 1px solid #1E1E2F;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

input[type="text"], input[type="password"] {
    border: none;
    color: #1E1E2F;
    font-size: 14px;
    font-family: Poppins,sans-serif;
    font-weight: 300;
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="text"]:active, input[type="password"]:active {
    border: none;
    outline: none;
}

input[type="submit"] {
    border: none;
    background-color: #3DA574;
    color: white;
    width: 100%;
    font-size: 14px;
    font-family: Poppins,sans-serif;
    font-weight: 300;
    padding: 6px;
    border-radius: 6px;
    margin-top: 20px;

}